*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    width: 100%;
}
main section{
    width: 100%;
    padding: var(--padding-2xl);
}
main section .top {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}
.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: black;
}
main section .left{
    display: flex;
    flex-direction: column;
    align-items: center990;
    gap: var(--gutter-lg);
    width: 60%;
}
main section .right{
    width: 40%;
}
main section .bottom{
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
}
main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section .bottom .placeholder i{
    font-size: var(--font-size-2xl)
}
































